fastapi
uvicorn
langgraph
langchain
langchain-google-genai
langchain-huggingface
langchain-community
sentence-transformers
faiss-cpu
ragas
datasets
streamlit
python-dotenv
pydantic
pandas
google-generativeai
